#main_box
{
    width: 1100px;
    background-color: white;
    font: 10pt verdana;
    border: 1px solid silver;
    text-align: center;
    margin: 0 auto;
}

body
{
    background-color: #19293d;
    margin: 0;
}

#leftbar 
{
    width: 200px;
    float: left;
}

#content_bar
{
    height: 650px;
}

#text_box
{
    margin: 20px;
    text-align: justify;
    margin-left: 60px;
    margin-right: 60px;
}
hr{margin-top: 20px}

#td_h
{
    vertical-align: top;
    height: 640px;
}