#enter_form{
    margin: 50px auto;
    width: 350px;
    border: 2px outset silver;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 0 silver, 0 0 40px silver;
}

.t1{
    text-align: right;
    width: 28%;
}
.t2{
    text-align: left;
}

input{width: 220px;}

.error{
    color: red;
}

.b1{
    width: 120px;
}

checkbox
{
    margin-left: 0px;
}