#mainmenu {
	height: 55px;
	font: bold 14px "Trebuchet MS", halvetica, Verdana;
	text-decoration: none;
	text-transform: uppercase;
	padding-top: 10px;
	padding-right: 22px;
	padding-left: 22px;
}
#mainmenu a {
	display: block;
	height: 40px;
	padding-right: 25px;
	padding-left: 25px;
	float: left;
	text-decoration: none;
	padding-top: 15px;
	background: url(images/menudevider.png) no-repeat 0px 3px;
	color: #5B920A;
}
#mainmenu .first a:visited, #mainmenu .first a:active 
{

	background: none;
}

#mainmenu a:visited, #mainmenu a:active 
{
    text-decoration:underline; 
    color: darkorchid
}

#wrap #main #content {
	padding: 10px;
}
#mainmenu a:hover 
{
    background:url(../images/button.gif) no-repeat center top;
}

#main_logo
{
   background:url(../images/LS_logo.jpg);
   background-size: 100% 100%;
   width: 400px;
   height: 170px;
}

#top
{
    height: 100px;
    background-size: 100% 100%;
    background-image: url(../images/LS_logo.jpg);
}