ul{
margin:0;  
padding:0; 
color:#FFFFFF; 

}
        	  
li{
    
    width:230px;  
    height:50px;  
    color:#FFFFFF;  
    text-align:center;  
    overflow:hidden;
}
          
a 
{  
    color:#FFFFFF;  
    text-decoration:none;  
}  

#a_
{
    color:#000000;  
    text-decoration:none;
}

p
{  
        padding:0px 5px;  
}  

.color
        {
            background: url(../images/LS.gif);
            border:outset;
        }  
	    
.textarea 
        {
            position:absolute;
            left:150px;
            top:10px;
            resize:none;
        }

.add 
        {
            position:absolute;
            left:350px;
            top: 10px;
            width:70px;
        }
        
select 
        {
            position:absolute;  
            left:205px;
            top: 40px;
            width:130px;
        }
        
.subtext{  
	        padding-top:15px;  
	    }